# 이것은 git에 저장하지 말아야 할 임시 파일들의 목록입니다.

# 일부 프로그램이 생성한 백업 파일
*.bak

# sound/soundFileOriginal 폴더에서, 임시로 생성한 wav파일들
# (해당 폴더에서는 사운드 원본 파일이 있지만, 이것을 wav로 컨버팅 한 후, sound폴더에 넣어야 합니다.)
# (만약 wav가 저 경로에 있다면 이것은 sound로 확장자를 변경하거나 파일을 옮기는 과정에서 생긴 임시파일입니다.)
sound/soundFileOriginal/*.wav

# music폴더는 wav파일을 허용하지 않습니다. (음악은 ogg 또는 mp3이여야만 합니다.)
# 이 프로젝트는 음악을 ogg파일만 사용하여 표현합니다.
music/*.wav